body {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

header,
nav,
main,
aside,
footer {
  padding: 12px;
}

header {
  height:60px;
  background-color: tomato;
}

.container {
  display: flex;
  flex: 1;
}

nav {
  background-color: coral;
  width: 100px;
}

main {
  background-color: moccasin;
  flex: 1;
}

aside {
  background-color: sandybrown;
  width: 100px;
}

footer {
  background-color: slategray;
  height: 100px;
}